*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}


.blocking-student-slider {
     background-image : url('images/group-student.jpeg');
     background-size:cover;
     background-repeat:no-repeat;
     background-attachment:fixed;
     
}